[submodule "hsl"]
	path = hsl
	url = git@github.com:olanko/hsl.git
[submodule "hsl-middleman"]
	path = hsl-middleman
	url = git@github.com:olanko/hsl-middleman.git
[submodule "hsl-frontend"]
	path = hsl-frontend
	url = git@github.com:olanko/hsl-frontend.git
